<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/cssFiles/DataEntry.css" >
    <link rel="icon" href="/top laser black instagram.png" type="image/png" >
    <title>Top Laser DataEntry</title>
</head>
<body>
    <a class="image-button" href="/Top-Laser-Login"><img src="/top laser black .png" alt="Top Laser Image" /></a>
    <% const LastDayDate=arr[(arr.length)-1].Date%>
    <% const DateFilter=arr2.filter(item=>moment(item.Date).isSame(moment(LastDayDate)))%>                
    <h1 style="text-align: center"><%= moment(LastDayDate).format('YYYY-MM-DD')+ " " + " ( " +moment(LastDayDate).format('ddd')+" ) " %></h1>
    <% if (DateFilter.length>0) { %>
        <form  method="post" action="/Top-Laser-DataEntry/<%= date %>">
            <div  class="div-inputs">
                <input style="width: 250px; margin-bottom: 8px; "  required name="Name" id="text" type="text" placeholder="Name:" />
                <input style="width: 250px; margin-bottom: 8px;"   required name="Work" id="pass" type="text" placeholder="Work :" />
                <br>
                <input style="width: 250px; margin-bottom: 8px;" type="number" name="Price" placeholder="Price:" />
                <input style="width: 250px; margin-bottom: 8px;" type="number" name="Out" placeholder="Out Price:" />
                <br>
                <input style="width: 250px; margin-bottom: 8px;" type="number" name="Payment" placeholder="Payment:" />
                <input style="width: 250px; margin-bottom: 8px;" value="<%= moment(date).format('YYYY-MM-DD') %>" type="datetime" name="Date" id="DateInput" placeholder="Enter Date">
                <br>
                <input style="width: 450px; margin-bottom: 8px;" type="text" name="Note" placeholder="Notes:" >    
                <br>
                <button class="button-submit" onclick="formatDate()" id="submit">Submit</button>
                <hr>
            </div>
            
            <br><br>
        </form>
            <table>
        <tr>
            <th>No.</th>
            <th>الاسم</th>
            <th>الشغل</th>
            <th>السعر</th>
            <th>الخارج</th>
            <th>المصاريف</th>
            <th>التاريخ</th>
            <th>ملاحظات</th>
            <th>Buttons</th>
        </tr>
        <tbody>
            <%let sum=0%>
            <%let sumOut=0%>
            <%DateFilter.reverse().forEach((item,index)=>{%>
                <%sum=sum+item.Price%>
                <%sumOut+=item.Out%>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= item.Name %></td>
                        <td><%= item.Work %></td>
                        <td id="PriceCell">
                            <% if(item.Price){%>
                            <%= item.Price %>
                            <%}else{ %>
                            <%= "───" %>
                            <%}%>
                        </td>
                        <td id="OutCell">
                            <% if(item.Out){%>
                            <%= item.Out %>
                        <%}else{ %>
                            <%= "───" %>
                        <%}%>
                        </td>
                        <td><% if(item.Payment){%>
                            <%= item.Payment %>
                        <%}else{ %>
                            <%= "───" %>
                        <%}%></td>
                        <td><%= moment(arr[(arr.length)-1].Date).format('YYYY-MM-DD') %></td>
                        <td class="note"><% if(item.Note){%>
                            <%= item.Note %>
                        <%}else{ %>
                            <%= "───" %>
                        <%}%></td>


                        <!-- buttons -->
                        <td class="td">
                            <div class="buttons">
                                <!-- deleteeeeeeeeeee -->
                            <form   class="deleteForm" action="/Top-Laser-DataEntry/<%= date %>/<%= item._id %>?_method=DELETE"  method="post">
                                <button id="deletee" class="delete" style="cursor: pointer" type="submit" onclick="DeleteFunction(event)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                            <!-- ------------------------------------------------------------------------------------------------------------------------- -->
                            <% if (!item.Price) { %>
                                <%item.Price=0 %>
                                <%}%>
                            <% if (!item.Out) { %>
                                <%item.Out=0 %>
                            <% }%>
                            <!-- update (✔) -->

                            <form action="/Top-Laser-DataEntry/<%=date%>/<%=item._id%>/<%=item.Price%>/<%=item.Out%>?_method=PUT" method="post" >
                                <button id="✔"   DataId="<%=item._id%>" DataOut="<%= item.Out %>" DataPrice="<%= item.Price %>">✔</button>
                            </form>
                            <!-- update price -->

                            <form action="/Top-Laser-DataEntry/<%=date%>/<%=item._id%>?_method=POST" method="post">
                                <input name="OutNew" type="text" style="width: 18px; height: 20px;" >
                                <button style="display: none;" type="submit" id="update" ><i class="fa-solid fa-arrows-rotate"></i></button>
                            </form>
                            </div>
                        </td>
                        </tr>
            <%})%> 
        </table>
        <table>
            <tbody>
                <tr>
                    <td>المجموع :</td>
                    <td>الخارج:</td>
                </tr>
                <tr>
                    
                    <td class="four"><%=sum%></td>
                    <td class="five"><%=sumOut%></td>
                </tr>
            </tbody>
        </table>
        <br>
        <input class="finish" value="Finish" type="button" id="finish"> 
    <% }else{%>
    <form
    action="/Top-Laser-DataEntry/<%= date %>"
    method="post">
    <div  class="div-inputs">
        <input style="width: 250px; margin-bottom: 8px; "  required name="Name" id="text" type="text" placeholder="Name:" />
        <input style="width: 250px; margin-bottom: 8px;"   required name="Work" id="pass" type="text" placeholder="Work :" />
        <br>
        <input style="width: 250px; margin-bottom: 8px;" type="number" name="Price" placeholder="Price:" />
        <input style="width: 250px; margin-bottom: 8px;" type="number" name="Out" placeholder="Out Price:" />
        <br>
        <input style="width: 250px; margin-bottom: 8px;" type="number" name="Payment" placeholder="Payment:" />
        <input style="width: 250px; margin-bottom: 8px;" value="<%= moment(date).format('YYYY-MM-DD') %>" type="datetime" name="Date" id="DateInput" placeholder="Enter Date">
        <br>
        <input style="width: 450px; margin-bottom: 8px;" type="text" name="Note" placeholder="Notes:" >    
        <br>
        <button class="button-submit" onclick="formatDate()" id="submit">Submit</button>
        <hr>
    </div>
    <br /><br />
    </form>
    <h1 style="font-size: 50px;">No Date Found in : <%= moment(LastDayDate).format('YYYY-MM-DD')%></h1>
    <%}%>
    <br><br>
    <a class="Week" href="/Top-Laser-Saturday" > Week</a>
    <a class="login" href="/Top-Laser-Login" > Login</a>
    <a class="Month" href="/Top-Laser-Monthely" > Month</a>
    <br><br>
    <a class="Search" href="/Top-Laser-Search" > Search</a>

    </body>





<script>
        const deletee=document.querySelector("#deletee")
        deletee.onclick=DeleteFunction
    const finish = document.querySelector("#finish");
    // const deleteForm = document.querySelector(".deleteForm");
    const deleteButton = document.querySelectorAll(".delete");
    // const deleteForm = document.getElementById("deleteForm");
    // const deleteButton = document.getElementById("delete");
    finish.onclick = finishDay;

    function finishDay() {
      // Display a confirmation dialog
    const confirmMessage = "Are you sure you want to finish the day?";
    const userResponse = confirm(confirmMessage);

      // Check the user's response
    if (userResponse) {
        // If the user clicks "OK", proceed with the action
        // alert("Day finished successfully!");
        // Add your further actions here
        window.location.href = "/Top-Laser-Finish/<%=date%>";
    } else {
        window.location.href = "/Top-Laser-DataEntry/<%=date%>";
    }
    }
    function DeleteFunction(){
        const confirmMessage = "Are you sure you want to delete?";
    const userResponse = confirm(confirmMessage);

      // Check the user's response
    if (!userResponse) {
        // If the user clicks "OK", proceed with the action
        // alert("Day finished successfully!");
        // Add your further actions here
        event.preventDefault();
    
        
    }}
const right=document.getElementById('✔')
right.onclick=hideButton
const update=document.getElementById('update')
update.onclick=updatee
function rightt(x){


}       





</script>
    


</html>
